@use 'sass:map';

$colors: () !default;
$colors: map.deep-merge(
  (
    primary-color: #19a7ce,
    danger-color: #f45050,
  ),
  $colors
);

$common: (
  width-size: 1,
  height-size: 1,
  font-size: 14px,
) !default;

$vars: () !default;
$vars: map.deep-merge(
  (
    form: (
      form-item-height: 40px,
    ),
  ),
  $vars
);

$light: () !default;
$light: map.deep-merge(
  (
    common: (
      text-color: #333,
      bg-color: #fff,
      active-text-color: map.get($colors, 'primary-color'),
      disabled-filter: grayscale(1),
      disabled-opacity: 0.7,
    ),
    switch: (
      switch-bg-color: #f1f1f1,
      switch-bd-color: #b1b1b1,
      switch-check-bg-color: #fff,
      switch-active-color: map.get($colors, 'primary-color'),
      switch-inactive-color: #333,
      switch-loading-color: #f97b22,
      switch-hover-color: map.get($colors, 'primary-color'),
    ),
  ),
  $light
);

$drak: () !default;
$drak: map.deep-merge(
  (
    common: (
      text-color: #eee,
      bg-color: #1a1a1a,
      disabled-filter: grayscale(0),
      disabled-opacity: 0.3,
    ),
    switch: (
      switch-bg-color: #3f3f3f,
      switch-bd-color: #646464,
      switch-check-bg-color: #1a1a1a,
      switch-inactive-color: #eee,
      switch-hover-color: #999999,
    ),
  ),
  $drak
);
