@use '../common/config' as *;
@use 'sass:string';
@use '../function/function' as *;

@mixin transition($attrs: all, $duration: 0.3s, $function: ease) {
  $str: null;
  @each $value in $attrs {
    $str: $str + $value + ' ' + $duration + ' ' + $function + ',';
  }
  transition: string.unquote(string.slice($str, 1, -2));
}

// bem
@mixin b($block: '', $element: '', $modifier: '', $state: '', $prefix: '') {
  $b: '';
  @if $block != '' {
    $b: $namespace + $common-separator + $block;
  }
  @if $element != '' {
    $b: $b + $element-separator + $element;
  }
  @if $modifier != '' {
    $b: $b + $modifier-separator + $modifier;
  }
  @if $state != '' {
    $b: $state-prefix + $state;
  }
  @if $prefix != '' {
    $b: $prefix + $b;
  } @else {
    $b: '.' + $b;
  }
  #{string.unquote($b)} {
    @content;
  }
}

@mixin center_position($type: null) {
  position: absolute;
  @if ($type == 'across') {
    left: 50%;
    transform: translateX(-50%);
  } @else if($type == 'vertical') {
    top: 50%;
    transform: translateY(-50%);
  } @else {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  @content;
}

@mixin center_flex($type: null, $display-type: flex) {
  display: $display-type;
  @if ($type == 'across') {
    justify-content: center;
  } @else if($type == 'vertical') {
    align-items: center;
  } @else {
    justify-content: center;
    align-items: center;
  }
  @content;
}

@mixin disabled($selector) {
  #{unquote($selector)} {
    opacity: get_var(disabled-opacity);
    filter: get_var(disabled-filter);
    cursor: not-allowed;
    @content;
  }
}
