@use './config' as *;
@use '../mixins/mixins' as *;

.#{$prefix}zoom-top-leave-active,
.#{$prefix}zoom-top-enter-active {
  @include transition(transform opacity);
  transform-origin: 50% 0%;
}

.#{$prefix}zoom-top-enter-from,
.#{$prefix}zoom-top-leave-to {
  transform: scaleY(0);
  opacity: 0;
}

.#{$prefix}fade-enter-active,
.#{$prefix}fade-leave-active {
  @include transition(opacity);
}
.#{$prefix}fade-in-enter-active,
.#{$prefix}fade-in-leave-active {
  @include transition(opacity, $function: ease-in);
}
.#{$prefix}fade-out-enter-active,
.#{$prefix}fade-out-leave-active {
  @include transition(opacity, $function: ease-out);
}

.#{$prefix}fade-enter-from,
.#{$prefix}fade-leave-to,
.#{$prefix}fade-in-enter-from,
.#{$prefix}fade-in-leave-to,
.#{$prefix}fade-out-enter-from,
.#{$prefix}fade-out-leave-to {
  opacity: 0;
}
