@use '../function/function' as f;
@use '../mixins/mixins' as m;
@use '../mixins/bem' as *;
@use '../mixins/vars';
@use '../common/config' as c;

@include b('input') {
  display: inline-flex;
  border: 1px solid f.get_var(bd-color);
  height: f.compute_h_size(30px);
  min-width: f.compute_w_size(170px);
  border-radius: 4px;
  box-sizing: border-box;
  font-size: f.compute_size(14px);
  vertical-align: middle;
  @include e('wrapper') {
    @include m.center_flex('vertical');

    width: 100%;
    height: 100%;
    padding: 0 f.compute_size(6px);
    box-sizing: border-box;

    @include bem('input', 'inner') {
      width: 100%;
      height: 100%;
      background-color: transparent;
      padding: 0;
      border: 0;
      font-size: inherit;
      outline: 0;
      box-sizing: border-box;
    }
  }
}
