@use '../vars/vars' as *;

.ef-header__conatiner {
  height: 50px;
  background-image: linear-gradient(to bottom, transparent 50%, #fff 51%, #fff);
  backdrop-filter: blur(10px);
  background-repeat: repeat-y;
  background-size: 100% 3px;
  border-bottom: 1px solid $main_border_color;
  .ef-header__nav {
    display: flex;
    align-items: center;
    width: $main_width;
    height: 100%;
    margin: 0 auto;
    .logo {
      height: 60%;
      cursor: pointer;
    }
  }
}
