@use '../vars/vars' as *;
@use '../mixins/reactive' as *;
@use '../mixins/mixins' as *;

.s-header__conatiner {
  height: 50px;
  background-image: linear-gradient(
    to bottom,
    transparent 50%,
    var(--s-bg-color) 51%,
    var(--s-bg-color)
  );
  backdrop-filter: blur(10px);
  background-repeat: repeat-y;
  background-size: 100% 3px;
  border-bottom: 1px solid $main_border_color;

  .s-header__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    margin: 0 auto;
    max-width: $super_width;

    .logo {
      height: 60%;
      cursor: pointer;
      margin: 0 10px;
    }
    .s-header__navigate {
      height: 100%;
    }
  }
}
