@use '../mixins/mixins' as *;

a {
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

body {
  background-color: var(--s-bg-color);
  font-size: 14px;
  color: var(--s-text-color);
  @include transition((background-color, color));
}
