@use 'sass:string';
@use '../common/config' as *;
@mixin transition($attrs: all, $duration: 0.3s, $function: ease) {
  $str: null;
  @each $value in $attrs {
    $str: $str + $value + ' ' + $duration + ' ' + $function + ',';
  }
  transition: string.unquote(string.slice($str, 1, -2));
}

@mixin center_flex($type: null, $display-type: flex) {
  display: $display-type;
  @if ($type == 'across') {
    justify-content: center;
  } @else if($type == 'vertical') {
    align-items: center;
  } @else {
    justify-content: center;
    align-items: center;
  }
  @content;
}

// bem
@mixin b(
  $block: '',
  $element: '',
  $modifier: '',
  $state: '',
  $prefix: '',
  $this: ''
) {
  $b: '';

  @if $block != '' {
    $b: '.' + $namespace + $common-separator + $block;
    @if $element != '' {
      $b: $b + $element-separator + $element;
      @if $modifier != '' {
        $b: $b + $modifier-separator + $modifier;
      }
    }
  }

  @if $this != '' {
    @each $val in $this {
      $b: $b + $val;
    }
    @if $element != '' {
      $b: $b + $element-separator + $element;
    }
    @if $modifier != '' {
      $b: $b + $modifier-separator + $modifier;
    }
    @if $state != '' {
      $b: '.' + $state-prefix + $state;
    }
  }

  #{string.unquote($b)} {
    @content;
  }
}
